<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Awful App Ideas</title>
    <meta name="description" content="An app that generates bad ideas." />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- get that sweet sweet font -->
    <link
      href="https://fonts.googleapis.com/css?family=Poiret+One|Raleway"
      rel="stylesheet"
    />

    <!-- import the webpage's client-side javascript file -->
    <!-- <script src="/client.js" defer></script> -->
  </head>
  <body>
    <header>
      <h1>
        Awful App Ideas
      </h1>
    </header>

    <main>
      <h2>
        They say good ideas can come from anywhere. Let's test that theory
      </h2>
      <p>
        This is a Twitter bot. It generates terrible app ideas and posts them on
        the
        <a href="https://twitter.com/AwfulAppIdeas">Awful App Ideas</a> Twitter
        feed.
      </p>
      <p>Feel free to poke around and use what you like.</p>
    </main>

    <footer>Made with <a href="https://glitch.com">Glitch</a>!</footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
